body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.golden{
    color: gold;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 90%;
}